extends ../layout/base

block variables

block main
  main.main
    .container
      .main__content
        .main__img
          +Img('witcher.png')
        .main__description
          .main__wrap
            .main__title
              h1
                span 300%
                span welcome bonus
            .main__code
              h2#code witcher
              +Button('main__btn-copy','copy code')
            +Button('main__btn','play now')
      span.main__terms * Terms and Conditions Apply
      .main__item
        +Img('icons/logo.png')
